# 0. Libraries and Dependencies

In [1]:
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Create necessary directories (skip if created already)
# for directory in ["data",
#                   "data/raw",
#                   "data/raw/5m",
#                   "data/resampled",
#                   "data/resampled/5m",
#                   "data/resampled/10m",
#                   "data/resampled/15m"]:
#     try:
#         os.mkdir(directory)
#     except FileExistsError:
#         continue

We're supposed to input the raw ETH, BTC and DOGE data into the folder "data/raw/5m".

![image.png]()

In [3]:
import numpy as np
import pandas as pd

from typing import Callable
from scipy.stats import norm
from scipy.stats.distributions import uniform, randint

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import TimeSeriesSplit, RandomizedSearchCV, cross_validate
from sklearn.metrics import classification_report

Make the code so that it takes as argument given some combination of the parameters.

# 1. Data Preparation

Data preparation in terms of resampling is done upfront because once done, its the raw material for the rest of the pipeline. From 1.2 onwards, we are assuming one "case" of the iterations that we will end up doing.

## 1.1 Preparation and Resampling

In [4]:
# RESAMPLING PARAMETERS
resample_intervals: list[int] = [5,10,15]                    # New frequency of the series in minutes
resample_methods: list[str] = ['last', 'first', 'mean']      # The aggregation we are performing

data_root = "./data/"
raw_data_dir = data_root+"raw/5m/"
processed_dir = data_root+"resampled/"
validation_dir = data_root+"validation/"

In [5]:
def resample_df(trading_df: pd.DataFrame, data_name:str, frequencies: list[int],
                resampling_methods: list[str], output_dir: str):
    """Resample the dataframe to the frequencies provided."""
    df_original = trading_df.copy()

    df_original['Time'] = pd.to_datetime(df_original['Time']) #changing the type of data to date time
    df_original.set_index('Time', inplace=True)

    # SECTION: RESAMPLING - - -
    # Create a dictionary to store resampled DataFrames
    resampled_dfs = {}

    # Iterate through resampling intervals and methods
    for interval in frequencies:
        for method in resampling_methods:
            # Resample the data with label set to 'right' and aggregate using the current method
            df_resampled = df_original.resample(f'{interval}T', label='right').agg(method)
            # Generate a unique name for each dataframe
            df_name = f'{data_name}_resampled_{interval}m_{method}'
            # Store the name in the dictionary for reference
            resampled_dfs[df_name] = df_resampled

    # SECTION: SAVE RESAMPLED DFS - - -
    for df_name, df in resampled_dfs.items():
        # Structure: Token, "resampled", time, resampling rule
        token, _, frequency, method = str(df_name).split("_")

        filename = f"{token}_{method}.csv"
        filedir = f"{output_dir}{frequency}/"

        df.to_csv(f"{filedir}{filename}", sep=",")

In [6]:
def prepare_data(raw_directory: str, frequencies: list[int],
                resampling_methods: list[str], output_dir: str):
    """Resample series for all coins present in raw and return list of assets"""
    asset_list = []
    for asset_filename in os.listdir(raw_directory):
        try:
          asset_df = pd.read_csv(raw_directory+asset_filename)
        except IsADirectoryError:
          continue
        # Save the crypto's name
        asset_name = asset_filename.split(".")[0]
        asset_list.append(asset_name)

        # Call for its resampling
        resample_df(trading_df=asset_df, frequencies=frequencies,
                    data_name=asset_name,
                    resampling_methods=resampling_methods,
                    output_dir=output_dir)

    return asset_list

In [7]:
assets = prepare_data(raw_directory=raw_data_dir, frequencies=resample_intervals,
                      resampling_methods=resample_methods,
                      output_dir=processed_dir)

In [8]:
# Lists we will iterate on later
print(assets)

resample_intervals_str: list[str] = [f"{minutes}m" for minutes in resample_intervals]
print(resample_intervals_str)

['BTCUSDT', 'DOGEUSDT', 'ETHUSDT']
['5m', '10m', '15m']

## 1.2 Calculate the Expected Return

From here assume a "case" with certain parameters.

In [9]:
processed_dir

'./data/resampled/'

In [10]:
asset = "ETHUSDT"
interval = "15m"
resample_method = "mean"

data_dir = f"{processed_dir}{interval}/{asset}_{resample_method}.csv"

In [11]:
expected_return_function: Callable = lambda values: min(values)
tau: int = 3                      # forecasting horizon

alpha: float =  0.01              # Top alpha expected returns
# stop_loss_fraction: float = 0.30  # Percentage of the price that if we see, we liquidate the position

# Hyperparameter tuning:
param_grid = {
    "n_estimators": randint(low=100, high=1000),
    "min_samples_split": randint(low=2, high=20),
    "min_impurity_decrease": uniform(loc=0.0, scale=0.5),
    "ccp_alpha": [0.0, 0.5, 1.0]
}

In [12]:
df = pd.read_csv(data_dir)
df['Time'] = pd.to_datetime(df['Time']) #changing the type of data to date time
df.set_index('Time', inplace=True)

In [13]:
df['LogReturn'] = np.log(df['Close'] / df['Close'].shift(1))

In [14]:
df.head()

,Open,High,Low,Close,Volume,LogReturn
Time,,,,,,
2023-09-01 00:15:00,1647.403333,1648.763333,1647.100000,1648.756667,436.416067,NaN
2023-09-01 00:30:00,1650.553333,1652.300000,1650.046667,1651.203333,850.712733,0.001483
2023-09-01 00:45:00,1651.800000,1652.900000,1651.316667,1651.966667,478.762567,0.000462
2023-09-01 01:00:00,1652.710000,1653.803333,1652.540000,1652.876667,518.959233,0.000551
2023-09-01 01:15:00,1651.723333,1652.426667,1650.976667,1651.426667,591.607300,-0.000878

## 1.3 Calculate the "Buy" Flag

Taking a price dataframe with a LogReturn column, apply some aggreggation
function to calculate the ExpectedReturn, and then consider flag values that
exceed some threshold.

In [15]:
print("tau:", tau)
print("alpha:", alpha)

# expected_return_function: Callable = lambda list_of_prices: max(list_of_prices)
print("expected_return_function:", "max")

tau: 3
alpha: 0.01
expected_return_function: max

In [16]:
df.head()

,Open,High,Low,Close,Volume,LogReturn
Time,,,,,,
2023-09-01 00:15:00,1647.403333,1648.763333,1647.100000,1648.756667,436.416067,NaN
2023-09-01 00:30:00,1650.553333,1652.300000,1650.046667,1651.203333,850.712733,0.001483
2023-09-01 00:45:00,1651.800000,1652.900000,1651.316667,1651.966667,478.762567,0.000462
2023-09-01 01:00:00,1652.710000,1653.803333,1652.540000,1652.876667,518.959233,0.000551
2023-09-01 01:15:00,1651.723333,1652.426667,1650.976667,1651.426667,591.607300,-0.000878

In [17]:
def expected_return(asset_df: pd.DataFrame, lag_columns: list[str],
                    expected_return_function: Callable):
    """Adds ExpectedReturn column to dataframe and returns it."""
    df = asset_df.copy()
    df['ExpectedReturn'] = df[lag_columns].apply(expected_return_function, axis=1)

    return df.drop(lag_columns, axis=1)

In [18]:
def calculate_expected_returns(asset_df: pd.DataFrame, alpha: float, tau: int, expected_return_callable: Callable):
    df = asset_df.copy()

    lags = list(range(1, tau+1))
    lag_columns = []  # List to store the names of lag columns

    # Calculate lagged returns based on the list of lags
    for lag in lags:
        lag_column_name = f'lag_{lag}'
        lag_columns.append(lag_column_name)  # Save the name of the lag column

        df[lag_column_name] = np.log(df['Close'].shift(-lag) / df['Close'])

    df['ExpectedReturn'] = df[lag_columns].apply(expected_return_callable, axis=1)
    df.drop(lag_columns, axis=1, inplace=True)


    threshold = df['ExpectedReturn'].quantile((1 - alpha))

    # Create a new column based on the condition
    df['buy_flag'] = df['ExpectedReturn'].ge(threshold).astype(int)

    return df

In [19]:
df = calculate_expected_returns(asset_df=df, tau=tau, alpha=alpha,
                                expected_return_callable=expected_return_function)

df.head()

,Open,High,Low,Close,Volume,LogReturn,ExpectedReturn,buy_flag
Time,,,,,,,,
2023-09-01 00:15:00,1647.403333,1648.763333,1647.100000,1648.756667,436.416067,NaN,0.001483,0
2023-09-01 00:30:00,1650.553333,1652.300000,1650.046667,1651.203333,850.712733,0.001483,0.000135,0
2023-09-01 00:45:00,1651.800000,1652.900000,1651.316667,1651.966667,478.762567,0.000462,-0.000700,0
2023-09-01 01:00:00,1652.710000,1653.803333,1652.540000,1652.876667,518.959233,0.000551,-0.001681,0
2023-09-01 01:15:00,1651.723333,1652.426667,1650.976667,1651.426667,591.607300,-0.000878,-0.000943,0

# 2. Feature Engineering

In [20]:
# Input: Dataframe with everything before it
# Output: Dataframe with everything before it + features (calculated ones and the lags of the target)

In [21]:
def var_cov_var(P, c, mu, sigma):
    # Calculate the Value-at-Risk using the Variance-Covariance method
    # P: Portfolio value, c: Confidence level, mu: Mean of returns, sigma: Standard deviation of returns
    alpha = norm.ppf(1-c, mu, sigma)
    return P - P*(alpha + 1)

In [22]:
def RSI(prices, n=9):
    # Calculate the Relative Strength Index (RSI) for a given series of prices
    # prices: Closing prices, n: Period for RSI calculation (default is 9)
    deltas = np.diff(prices)
    seed = deltas[:n+1]
    down = -seed[seed<0].sum()/n
    up = seed[seed>=0].sum()/n
    rs = up/down
    rsi = np.zeros(len(prices))
    rsi[:n] = 100 - 100/(1 + rs)

    for i in range(n, len(prices)):
        delta = deltas[i-1]
        if delta > 0:
            upval = delta
            downval = 0
        else:
            upval = 0
            downval = -delta

        up = float((up*(n-1) + upval)/n)
        down = float((down*(n-1) + downval)/n + 0.00001)
        rs = up/down
        rsi[i] = 100 - 100/(1 + rs)

    return rsi

In [23]:
def add_variables(asset_df):
    df = asset_df.copy()
    # List of variables to be added to the dataframe
    X_final_variables = ['Open_normalized', 'High_normalized', 'Close_normalized', 'Low_normalized',
                         'Open_MA_10', 'High_MA_10', 'Low_MA_10', 'Close_MA_10', 'Volume_MA_10', 'DayRange_MA_10',
                         'Open_MA_20', 'High_MA_20', 'Low_MA_20', 'Close_MA_20', 'Volume_MA_20', 'DayRange_MA_20',
                         'Open_MA_50', 'High_MA_50', 'Low_MA_50', 'Close_MA_50', 'Volume_MA_50', 'DayRange_MA_50',
                         'Open_MA_100', 'High_MA_100', 'Low_MA_100', 'Close_MA_100', 'Volume_MA_100', 'DayRange_MA_100',
                         'Open_MA_200', 'High_MA_200', 'Low_MA_200', 'Close_MA_200', 'Volume_MA_200', 'DayRange_MA_200',
                         '10_daysRange', '20_daysRange', '50_daysRange', '100_daysRange', '200_daysRange',
                         'num_consec_days_up', 'num_consec_days_down', 'rsi_5', 'rsi_9', 'rsi_14', 'rsi_18', 'rets',
                         'rets_mean', 'rets_sigma', 'VaR']

    # Initialize each variable to 0 if it doesn't exist
    for each_var in X_final_variables:
        try:
            df[each_var]
        except:
            df[each_var] = 0

    # Calculate the daily range
    df['DayRange'] = df['High'] - df['Low']

    # Normalize open, high, close, and low based on the low of the first day
    df['Open_normalized'] = df['Open'] / df['Low'].iloc[0]
    df['High_normalized'] = df['High'] / df['Low'].iloc[0]
    df['Close_normalized'] = df['Close'] / df['Low'].iloc[0]
    df['Low_normalized'] = df['Low'] / df['Low'].iloc[0]

    # Calculate various moving averages and ranges
    print("computing 10, 20, 50, 100 and 200 days moving average for variables: Open, High, Low, Close, Volume, DayRange")
    for lag in (10, 20, 50, 100, 200):
        df["Open_MA_" + str(lag)] = df["Open"].rolling(window=lag).mean()
        df["High_MA_" + str(lag)] = df["High"].rolling(window=lag).mean()
        df["Low_MA_" + str(lag)] = df["Low"].rolling(window=lag).mean()
        df["Close_MA_" + str(lag)] = df["Close"].rolling(window=lag).mean()
        df["Volume_MA_" + str(lag)] = df["Volume"].rolling(window=lag).mean()
        df["DayRange_MA_" + str(lag)] = df["DayRange"].rolling(window=lag).mean()

    # Calculate the 10, 20, 50, 100, and 200 days range
    print("and also, the 10, 20, 50, 100 and 200 days range")
    for lag in (10, 20, 50, 100, 200):
        df[str(lag) + "_daysRange"] = df["High"].rolling(window=lag).max() - df["Low"].rolling(window=lag).min()

    # Calculate RSI for different periods
    for period in range(1, 21):
        df["rsi_"+str(period)] = RSI(df ['Close'], period)

    # Calculate daily returns and Value at Risk (VaR)
    df["rets"] = df["Close"].pct_change()
    P = 1000   # 1,000 USD
    c = 0.99  # 99% confidence interval
    df["rets_mean"] = df["rets"].rolling(window=10).mean()
    df["rets_sigma"] = df["rets"].rolling(window=10).std()
    df["VaR"] = np.vectorize(var_cov_var)(P, c, df["rets_mean"], df["rets_sigma"])

    # Drop rows with NaN values after adding new variables
    df.dropna(inplace=True)

    # Additional calculations for growth and consecutive days
    df['growth'] = 0
    df.loc[df["Close"] > df["Close"].shift(1), 'growth'] = 1

    df['num_consec_days_up'] = df["growth"].groupby((df["growth"] != df["growth"].shift()).cumsum()).cumcount()
    df['num_consec_days_up'] += 1
    df.loc[df['growth'] == 0.0, 'num_consec_days_up'] = 0

    df['num_consec_days_down'] = df["growth"].groupby((df["growth"] != df["growth"].shift()).cumsum()).cumcount()
    df['num_consec_days_down'] += 1
    df.loc[df['growth'] == 1.0, 'num_consec_days_down'] = 0

    return df

In [24]:
df = add_variables(df)
df.head()

computing 10, 20, 50, 100 and 200 days moving average for variables: Open, High, Low, Close, Volume, DayRange
and also, the 10, 20, 50, 100 and 200 days range

,Open,High,Low,Close,Volume,LogReturn,ExpectedReturn,buy_flag,Open_normalized,High_normalized,...,rsi_10,rsi_11,rsi_12,rsi_13,rsi_15,rsi_16,rsi_17,rsi_19,rsi_20,growth
Time,,,,,,,,,,,,,,,,,,,,,
2023-09-03 02:00:00,1633.480000,1633.670000,1633.270000,1633.453333,106.703700,-0.000386,-0.000110,0,0.991731,0.991846,...,37.624203,38.690981,39.621183,40.438315,41.807243,42.387331,42.912023,43.825372,44.225331,0
2023-09-03 02:15:00,1633.263333,1633.516667,1632.483333,1633.273333,261.852000,-0.000110,0.000677,0,0.991599,0.991753,...,36.715595,37.848122,38.835790,39.703588,41.157610,41.773705,42.330870,43.300453,43.724936,0
2023-09-03 02:30:00,1634.216667,1634.673333,1634.043333,1634.596667,176.522133,0.000810,-0.000133,0,0.992178,0.992455,...,47.137367,47.152031,47.220450,47.320542,47.569085,47.704638,47.842651,48.117177,48.250554,1
2023-09-03 02:45:00,1634.436667,1634.643333,1634.066667,1634.380000,138.264433,-0.000133,-0.000196,0,0.992312,0.992437,...,45.765589,45.913493,46.091218,46.282815,46.676222,46.870169,47.059529,47.420280,47.590270,0
2023-09-03 03:00:00,1634.500000,1634.593333,1634.120000,1634.450000,122.433267,0.000043,-0.000239,0,0.992350,0.992407,...,46.325366,46.412787,46.540874,46.691072,47.019557,47.187645,47.354460,47.677844,47.832191,1

# 3. Back Testing and Model Training

First we have to identify the features and identify the proper matrices.

In [25]:
target_colname = 'buy_flag'
numeric_features = ['Open', 'High', 'Low', 'Close', 'Volume', 'Open_normalized',
                    'High_normalized', 'Close_normalized', 'Low_normalized',
                    'Open_MA_10', 'High_MA_10', 'Low_MA_10', 'Close_MA_10',
                    'Volume_MA_10', 'DayRange_MA_10', 'Open_MA_20',
                    'High_MA_20', 'Low_MA_20', 'Close_MA_20', 'Volume_MA_20',
                    'DayRange_MA_20', 'Open_MA_50', 'High_MA_50', 'Low_MA_50',
                    'Close_MA_50', 'Volume_MA_50', 'DayRange_MA_50',
                    'Open_MA_100', 'High_MA_100', 'Low_MA_100', 'Close_MA_100',
                    'Volume_MA_100', 'DayRange_MA_100', 'Open_MA_200',
                    'High_MA_200', 'Low_MA_200', 'Close_MA_200',
                    'Volume_MA_200', 'DayRange_MA_200', '10_daysRange',
                    '20_daysRange', '50_daysRange', '100_daysRange',
                    '200_daysRange', 'num_consec_days_up',
                    'num_consec_days_down', 'rsi_5', 'rsi_9',
                    'rsi_14', 'rsi_18', 'rets', 'rets_mean', 'rets_sigma',
                    'VaR', 'DayRange', 'rsi_1', 'rsi_2', 'rsi_3', 'rsi_4',
                    'rsi_6', 'rsi_7', 'rsi_8', 'rsi_10', 'rsi_11', 'rsi_12',
                    'rsi_13', 'rsi_15', 'rsi_16', 'rsi_17', 'rsi_19', 'rsi_20']
categorical_features = ['growth']

In [26]:
X_categorical = df[categorical_features]

X_categorical

                     growth
Time
2023-09-03 02:00:00       0
2023-09-03 02:15:00       0
2023-09-03 02:30:00       1
2023-09-03 02:45:00       0
2023-09-03 03:00:00       1
...                     ...
2023-11-15 22:45:00       1
2023-11-15 23:00:00       1
2023-11-15 23:15:00       0
2023-11-15 23:30:00       0
2023-11-15 23:45:00       1

[7096 rows x 1 columns]

In [27]:
X = pd.concat([df[numeric_features], X_categorical], axis=1)
X.head()

,Open,High,Low,Close,Volume,Open_normalized,High_normalized,Close_normalized,Low_normalized,Open_MA_10,...,rsi_10,rsi_11,rsi_12,rsi_13,rsi_15,rsi_16,rsi_17,rsi_19,rsi_20,growth
Time,,,,,,,,,,,,,,,,,,,,,
2023-09-03 02:00:00,1633.480000,1633.670000,1633.270000,1633.453333,106.703700,0.991731,0.991846,0.991715,0.991603,1635.406000,...,37.624203,38.690981,39.621183,40.438315,41.807243,42.387331,42.912023,43.825372,44.225331,0
2023-09-03 02:15:00,1633.263333,1633.516667,1632.483333,1633.273333,261.852000,0.991599,0.991753,0.991605,0.991126,1634.958000,...,36.715595,37.848122,38.835790,39.703588,41.157610,41.773705,42.330870,43.300453,43.724936,0
2023-09-03 02:30:00,1634.216667,1634.673333,1634.043333,1634.596667,176.522133,0.992178,0.992455,0.992409,0.992073,1634.720333,...,47.137367,47.152031,47.220450,47.320542,47.569085,47.704638,47.842651,48.117177,48.250554,1
2023-09-03 02:45:00,1634.436667,1634.643333,1634.066667,1634.380000,138.264433,0.992312,0.992437,0.992277,0.992087,1634.467667,...,45.765589,45.913493,46.091218,46.282815,46.676222,46.870169,47.059529,47.420280,47.590270,0
2023-09-03 03:00:00,1634.500000,1634.593333,1634.120000,1634.450000,122.433267,0.992350,0.992407,0.992320,0.992119,1634.233000,...,46.325366,46.412787,46.540874,46.691072,47.019557,47.187645,47.354460,47.677844,47.832191,1

In [28]:
y = df[target_colname]
y.head()

Time
2023-09-03 02:00:00    0
2023-09-03 02:15:00    0
2023-09-03 02:30:00    0
2023-09-03 02:45:00    0
2023-09-03 03:00:00    0
Name: buy_flag, dtype: int32

## 3.1 Cross Validation and Hyperparameter Tuning

Prepare the time series cross-validation.

In [29]:
ts_cv = TimeSeriesSplit(n_splits=5)

all_splits = ts_cv.split(X=X, y=y)

In [30]:
base_forest = RandomForestClassifier(class_weight="balanced")

In [31]:
def evaluate_model(model, X, y, cv):
    cv_results = cross_validate(
        model,
        X,
        y,
        cv=cv,
        scoring=['f1', 'roc_auc']
    )
    f1 = cv_results['test_f1']
    roc_auc = cv_results['test_roc_auc']

    print(
        f"F1 Score:     {f1.mean():.3f} +/- {f1.std():.3f}\n"
        f"ROC Area Under the Curve: {roc_auc.mean():.3f} +/- {roc_auc.std():.3f}"
    )

    return cv_results

In [32]:
evaluate_model(base_forest, X=X, y=y, cv=ts_cv)

F1 Score:     0.000 +/- 0.000
ROC Area Under the Curve: 0.606 +/- 0.103

{'fit_time': array([0.47400188, 1.03800201, 1.74200416, 2.63000226, 4.12598801]),
 'score_time': array([0.04099751, 0.05799913, 0.03299856, 0.03199959, 0.03501678]),
 'test_f1': array([0., 0., 0., 0., 0.]),
 'test_roc_auc': array([0.77069161, 0.65148936, 0.60042481, 0.54191118, 0.46481224])}

## 3.2 Train the best model found by the Hyperparameter Tuning

In [33]:
param_grid

{'n_estimators': <scipy.stats._distn_infrastructure.rv_discrete_frozen at 0x241da6d5160>,
 'min_samples_split': <scipy.stats._distn_infrastructure.rv_discrete_frozen at 0x241dfa95070>,
 'min_impurity_decrease': <scipy.stats._distn_infrastructure.rv_continuous_frozen at 0x241dc3a2790>,
 'ccp_alpha': [0.0, 0.5, 1.0]}

In [34]:
search_cv = RandomizedSearchCV(
    estimator=RandomForestClassifier(),
    param_distributions=param_grid,
    n_iter=5,
    scoring='f1',
    cv = ts_cv,
    verbose=2
)

In [35]:
search_cv.fit(X=X, y=y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] END ccp_alpha=0.5, min_impurity_decrease=0.3502358990651526, min_samples_split=17, n_estimators=821; total time=   2.5s
[CV] END ccp_alpha=0.5, min_impurity_decrease=0.3502358990651526, min_samples_split=17, n_estimators=821; total time=   3.2s
[CV] END ccp_alpha=0.5, min_impurity_decrease=0.3502358990651526, min_samples_split=17, n_estimators=821; total time=   4.8s
[CV] END ccp_alpha=0.5, min_impurity_decrease=0.3502358990651526, min_samples_split=17, n_estimators=821; total time=   5.9s
[CV] END ccp_alpha=0.5, min_impurity_decrease=0.3502358990651526, min_samples_split=17, n_estimators=821; total time=   6.5s
[CV] END ccp_alpha=1.0, min_impurity_decrease=0.4505237183465606, min_samples_split=2, n_estimators=747; total time=   2.0s
[CV] END ccp_alpha=1.0, min_impurity_decrease=0.4505237183465606, min_samples_split=2, n_estimators=747; total time=   2.9s
[CV] END ccp_alpha=1.0, min_impurity_decrease=0.4505237183465606, min_samples_split=2, n_estimators=747; total time=   4.7s
[CV] END ccp_alpha=1.0, min_impurity_decrease=0.4505237183465606, min_samples_split=2, n_estimators=747; total time=   5.3s
[CV] END ccp_alpha=1.0, min_impurity_decrease=0.4505237183465606, min_samples_split=2, n_estimators=747; total time=   6.3s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.31508747621807204, min_samples_split=5, n_estimators=432; total time=   1.3s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.31508747621807204, min_samples_split=5, n_estimators=432; total time=   1.8s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.31508747621807204, min_samples_split=5, n_estimators=432; total time=   2.8s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.31508747621807204, min_samples_split=5, n_estimators=432; total time=   3.1s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.31508747621807204, min_samples_split=5, n_estimators=432; total time=   3.7s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.29078685896203627, min_samples_split=2, n_estimators=829; total time=   2.3s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.29078685896203627, min_samples_split=2, n_estimators=829; total time=   3.6s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.29078685896203627, min_samples_split=2, n_estimators=829; total time=   4.7s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.29078685896203627, min_samples_split=2, n_estimators=829; total time=   5.7s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.29078685896203627, min_samples_split=2, n_estimators=829; total time=   7.4s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.43579485554590675, min_samples_split=16, n_estimators=784; total time=   2.0s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.43579485554590675, min_samples_split=16, n_estimators=784; total time=   3.4s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.43579485554590675, min_samples_split=16, n_estimators=784; total time=   4.7s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.43579485554590675, min_samples_split=16, n_estimators=784; total time=   6.0s
[CV] END ccp_alpha=0.0, min_impurity_decrease=0.43579485554590675, min_samples_split=16, n_estimators=784; total time=   7.3s

RandomizedSearchCV(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None),
                   estimator=RandomForestClassifier(), n_iter=5,
                   param_distributions={'ccp_alpha': [0.0, 0.5, 1.0],
                                        'min_impurity_decrease': <scipy.stats._distn_infrastructure.rv_continuous_frozen object at 0x00000241DC3A2790>,
                                        'min_samples_split': <scipy.stats._distn_infrastructure.rv_discrete_frozen object at 0x00000241DFA95070>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_discrete_frozen object at 0x00000241DA6D5160>},
                   scoring='f1', verbose=2)

In [36]:
best_params = search_cv.best_params_

best_params

{'ccp_alpha': 0.5,
 'min_impurity_decrease': 0.3502358990651526,
 'min_samples_split': 17,
 'n_estimators': 821}

In [37]:
final_model = RandomForestClassifier(
    ccp_alpha=best_params['ccp_alpha'],
    min_impurity_decrease=best_params['min_impurity_decrease'],
    min_samples_split=best_params['min_samples_split'],
    n_estimators=best_params['n_estimators']
)

In [38]:
evaluate_model(final_model, X=X, y=y, cv=ts_cv)

F1 Score:     0.000 +/- 0.000
ROC Area Under the Curve: 0.500 +/- 0.000

{'fit_time': array([3.06598353, 3.327003  , 4.81800199, 5.70955729, 6.65999889]),
 'score_time': array([0.34351516, 0.16599822, 0.15499735, 0.15397024, 0.15500236]),
 'test_f1': array([0., 0., 0., 0., 0.]),
 'test_roc_auc': array([0.5, 0.5, 0.5, 0.5, 0.5])}

In [39]:
final_model.fit(X=X, y=y)       # Use this to .predict() for validation

RandomForestClassifier(ccp_alpha=0.5, min_impurity_decrease=0.3502358990651526,
                       min_samples_split=17, n_estimators=821)

# 4. Apply the Model (Validation Set)

Test the model agains the 16th to 30th November to see how it does when facing the immediate future.

In [40]:
# Inputs: Model, Data
# Outputs: A dictionary with the model parameters and the Trading Metrics

In [41]:
if interval == "10m":
    validation_df_dir = \
        (f"{validation_dir}{interval}/{asset}_{resample_method}"
          ".csv")
else:
    validation_df_dir = \
        f"{validation_dir}{interval}/{asset}.csv"

validation_df = pd.read_csv(validation_df_dir)
validation_df.head()

                  Time     Open     High      Low    Close      Volume
0  2023-11-16 00:00:00  2058.49  2060.35  2054.37  2055.43   2686.9152
1  2023-11-16 00:15:00  2055.42  2058.35  2051.86  2054.62   3099.1089
2  2023-11-16 00:30:00  2054.61  2058.00  2053.13  2056.62   2317.9512
3  2023-11-16 00:45:00  2056.62  2079.88  2056.61  2076.44  14266.1707
4  2023-11-16 01:00:00  2076.43  2080.97  2068.43  2068.80   6730.8233

In [42]:
validation_df['Time'] = pd.to_datetime(validation_df['Time'])
validation_df.set_index('Time', inplace=True)

lags = list(range(1, int(tau+1)))
lag_columns = []  # List to store the names of lag columns

# Calculate lagged returns based on the list of lags
for lag in lags:
    lag_column_name = f'lag_{lag}'
    lag_columns.append(lag_column_name)

    validation_df[lag_column_name] = np.log(validation_df['Close'].shift(-lag) / validation_df['Close'])

validation_df['ExpectedReturn'] = validation_df[lag_columns].apply(expected_return_function,
                                              axis=1)
validation_df.drop(lag_columns, axis=1, inplace=True)

threshold = validation_df['ExpectedReturn'].quantile((1 - alpha))

# Create a new column based on the condition
validation_df['buy_flag'] = validation_df['ExpectedReturn'].ge(threshold).astype(int)

In [43]:
validation_df = add_variables(validation_df)
validation_df.head()

computing 10, 20, 50, 100 and 200 days moving average for variables: Open, High, Low, Close, Volume, DayRange
and also, the 10, 20, 50, 100 and 200 days range

,Open,High,Low,Close,Volume,ExpectedReturn,buy_flag,Open_normalized,High_normalized,Close_normalized,...,rsi_10,rsi_11,rsi_12,rsi_13,rsi_15,rsi_16,rsi_17,rsi_19,rsi_20,growth
Time,,,,,,,,,,,,,,,,,,,,,
2023-11-18 01:45:00,1956.32,1957.00,1947.80,1949.64,1852.1770,0.001435,0,0.952272,0.952603,0.949021,...,45.111043,46.166138,46.980860,47.604306,48.428029,48.685303,48.867926,49.068446,49.108623,0
2023-11-18 02:00:00,1949.63,1952.60,1949.30,1952.44,1264.2232,-0.001430,0,0.949016,0.950462,0.950384,...,49.810213,50.316174,50.692700,50.960119,51.243784,51.292285,51.295780,51.205119,51.125378,1
2023-11-18 02:15:00,1952.44,1955.26,1952.44,1954.36,1467.3757,-0.002639,0,0.950384,0.951756,0.951318,...,52.883462,53.046335,53.146376,53.187302,53.124058,53.037319,52.924252,52.643055,52.484455,1
2023-11-18 02:30:00,1954.36,1955.57,1950.86,1952.64,1404.4405,-0.003350,0,0.951318,0.951907,0.950481,...,49.845115,50.321146,50.681314,50.941700,51.227533,51.281416,51.291578,51.215579,51.143084,0
2023-11-18 02:45:00,1952.65,1953.00,1949.34,1949.65,1365.6583,-0.003478,0,0.950486,0.950656,0.949026,...,44.866288,45.820030,46.583912,47.189700,48.033763,48.315494,48.526682,48.788155,48.858253,0

In [44]:
# Extract the categorical features from the validation set
X_categorical_validation = validation_df[categorical_features]

# Concatenate the numeric features with the categorical features
X_validation = pd.concat([validation_df[numeric_features],
                          X_categorical_validation], axis=1)

predictions = final_model.predict(X_validation)

In [45]:
# Evaluate the model
print("Comparing the model to optimal strategy:")
print(classification_report(validation_df['buy_flag'], predictions))

Comparing the model to optimal strategy:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      1228
           1       0.00      0.00      0.00        12

    accuracy                           0.99      1240
   macro avg       0.50      0.50      0.50      1240
weighted avg       0.98      0.99      0.99      1240

In [46]:
validation_df['prediction'] = predictions

# Create empty columns for position, entry, and PredictedBuyFlag
validation_df['position'] = 0
validation_df['entry'] = 0
validation_df['PredictedBuyFlag'] = 0
# Calculate the strategy
for i in range(len(validation_df)):
    # Buy condition based on threshold
    if validation_df['Close'].iloc[i] >= threshold:
        validation_df['position'].iloc[i] = 1
        validation_df['PredictedBuyFlag'].iloc[i] = 1

    # Sell condition after tau moments
    elif validation_df['num_consec_days_up'].iloc[i] >= tau:
        validation_df['position'].iloc[i] = -1

    # Entry condition based on model predictions
    if validation_df['prediction'].iloc[i] != 0:
        validation_df['entry'].iloc[i] = 1

In [47]:
# Extract only the rows where a buy/sell decision was made
trades_df = validation_df[validation_df['position'] != 0]

# Calculate returns based on the strategy decisions
trades_df['return'] = np.log(trades_df['Close'] / trades_df['Close'].shift(1))

# Calculate the cumulative strategy return
trades_df['cum_strat_ret'] = (1 + trades_df['return'] * trades_df['position']).cumprod()
trades_df['return'] = np.log(trades_df['Close'] / trades_df['Close'].shift(1))  # log_returns
trades_df['strategy_return'] = trades_df['return'] * trades_df['position'].shift(1)  # log_returns
trades_df = trades_df.dropna()

trades_df.head()

,Open,High,Low,Close,Volume,ExpectedReturn,buy_flag,Open_normalized,High_normalized,Close_normalized,...,rsi_19,rsi_20,growth,prediction,position,entry,PredictedBuyFlag,return,cum_strat_ret,strategy_return
Time,,,,,,,,,,,,,,,,,,,,,
2023-11-18 02:00:00,1949.63,1952.60,1949.30,1952.44,1264.2232,-0.001430,0,0.949016,0.950462,0.950384,...,51.205119,51.125378,1,0,1,0,1,0.001435,1.001435,0.001435
2023-11-18 02:15:00,1952.44,1955.26,1952.44,1954.36,1467.3757,-0.002639,0,0.950384,0.951756,0.951318,...,52.643055,52.484455,1,0,1,0,1,0.000983,1.002419,0.000983
2023-11-18 02:30:00,1954.36,1955.57,1950.86,1952.64,1404.4405,-0.003350,0,0.951318,0.951907,0.950481,...,51.215579,51.143084,0,0,1,0,1,-0.000880,1.001537,-0.000880
2023-11-18 02:45:00,1952.65,1953.00,1949.34,1949.65,1365.6583,-0.003478,0,0.950486,0.950656,0.949026,...,48.788155,48.858253,0,0,1,0,1,-0.001532,1.000002,-0.001532
2023-11-18 03:00:00,1949.65,1949.98,1946.45,1949.21,1767.2709,-0.004324,0,0.949026,0.949186,0.948812,...,48.431463,48.522334,0,0,1,0,1,-0.000226,0.999776,-0.000226

In [48]:
# Assuming you have a column named 'strategy_return' in the trades_df
avg_gain = trades_df[trades_df['strategy_return'] == 1]['strategy_return'].mean(skipna=True)
max_gain = trades_df['strategy_return'].max()

avg_loss = trades_df[trades_df['strategy_return'] == 0]['strategy_return'].mean(skipna=True)
max_loss = trades_df['strategy_return'].min()

winning_rate = (len(trades_df[trades_df['strategy_return'] > 0]) /
                len(trades_df))
losing_rate = 1 - winning_rate

expectancy = abs((winning_rate * avg_gain) / (losing_rate * avg_loss))

out_dict = {"Winning rate": winning_rate * 100,
            "Losing rate": losing_rate * 100,
            "Maximum gain": max_gain * 100,
            "Maximum loss": max_loss * 100,
            "Average gain": avg_gain * 100,
            "Average loss": avg_loss * 100,
            "Expectancy": expectancy}

print(out_dict)

{'Winning rate': 51.9774011299435, 'Losing rate': 48.0225988700565, 'Maximum gain': 1.1390716309490572, 'Maximum loss': -1.6922496731256287, 'Average gain': nan, 'Average loss': nan, 'Expectancy': nan}